@Scripts.Render("~/Scripts/EMS/Subject/SubjectSummary.js")

        <div class="panel panel-default">
            <div class="panel-heading">Subject Info Summary</div>
            <div class="panel-body">
                <div id="gridSubject">
                    
                </div>
            </div>
        </div>
    

