
@Scripts.Render("~/Scripts/EMS/Class/ClassSummary.js")

<div class="panel panel-default">
    <div class="panel-heading">Class Summary</div>
    <div class="panel-body">
        <div id="gridClass">

        </div>
    </div>
</div>

