
@Scripts.Render("~/Scripts/EMS/CollectionType/CollectionTypeSummary.js")

<div class="panel panel-default">
    <div class="panel-heading">Class Summary</div>
    <div class="panel-body">
        <div id="gridCollectionType">

        </div>
    </div>
</div>

