
<div class="bs-example">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Fees Collection</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputStudentCode">Student Code</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="Student Code" id="txtStudentCode" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputClassDepartment">Class/Dpartment</label>
                            <div class="col-md-6">
                                <select class="form-control" id="ddlClassDepartment">
                                    <option value="0">Select One</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputSection">Section</label>
                            <div class="col-md-6">
                                <select class="form-control" id="ddlSecstion">
                                    <option value="0">Select One</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputMonth">Month</label>
                            <div class="col-md-6">
                                <select class="form-control" id="ddlMonth">
                                    <option value="0">Select Month</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputCollectionType">Collection Type</label>
                            <div class="col-md-6">
                                <select class="form-control" id="ddlCollectionType">
                                    <option value="0">Select One</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputCollection Date">Collection Date</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="Collection Date" id="txtCollectionDate" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputAmount">Amount</label>
                            <div class="col-md-6">
                                <input type="number" placeholder="Collection Date" id="txtCollectionDate" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputDescription">Description</label>
                            <div class="col-md-6">
                                <textarea class="form-control" id="txtDescription" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group ">
                    <li class="list-group-item">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>