@Scripts.Render("~/Scripts/EMS/Test/TestSummary.js")
<div class="leftDiv k-block">

    <h2 class="k-header centerAlign">Test Summary</h2>
    <div id="gridTest"></div>

    <div class="clear"></div>
</div>
