@Scripts.Render("~/Scripts/EMS/Test/TestDetails.js")
@Scripts.Render("~/Scripts/EMS/FileUpload/FileUploadManager.js")

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabs').tab();
    });
</script>
<div class="bs-example">
    <div class="well well-sm">Student Profile Info</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabStudentProfile" data-toggle="tab">Student Profile</a></li>
                        <li><a href="#tabStudentInfo" data-toggle="tab">Student Info</a></li>
                        <li><a href="#tabAddress" data-toggle="tab">Address</a></li>
                        <li><a href="#tabPreviousEducation" data-toggle="tab">Previous Education</a></li>
                        <li><a href="#tabPhotograph" data-toggle="tab">Photograph</a></li>


                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <!-- Begin Student Profile-->
                        <div class="tab-pane fade in active" id="tabStudentProfile">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputFirstName">First Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="First Name" id="txtFirstName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputLastName">Last Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Last Name" id="txtLastName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputFatherName">Father's Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Father's Name" id="txtFatherName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputMotherName">Mother's Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Mother's Name" id="txtMotherName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputFatherOccupation">Father's Occupation</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Father's Occupation" id="txtFatherOccupation" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputMotherOccupation">Mother's Occupation</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Mother's Occupation" id="txtMotherOccupation" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputEmail">Email</label>
                                    <div class="col-md-6">
                                        <input type="email" placeholder="Email" id="txtEmail" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputContactPertion">Contact Pertion</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Email" id="txtContactPertion" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputPhone1">Phone 1</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Phone 1" id="txtPhone1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputPhone2">Phone 2</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Phone 2" id="txtPhone2" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDOB">Date of Birth</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Date of Birth" id="txtDateOfBirth" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputBirthReg">Birth Registration No</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Date of Birth" id="txtBitrhRegNo" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputAdmission">Admission Date</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Admission Date" id="txtAdmissionDate" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputBloodGroup">Blood Group</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlTestType" name="TestDropdown" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputPGender">Gender</label>
                                    <div class="col-md-6 btn-group">
                                        <label class="btn btn-default">
                                            <input type="radio" value="Male" name="gender" id="IsMale" checked="checked"> Male
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" value="Female" name="gender" id="IsFemale"> Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputReligion">Religion</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Date of Birth" id="txtReligion" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputIdentification">Identification Mark</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Identification Mark" id="txtIdentificationMark" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputNationality">Nationality</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Nationality" id="txtNationality" class="form-control">
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--End Student Profile-->
                        <!--Begin Student Info-->
                        <div class="tab-pane fade" id="tabStudentInfo">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputStudentCode">Student Code</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Student Code" id="txtStudentCode" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputClassDepartment">Class/Dpartment</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlClassDepartment">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputSection">Section</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlSecstion">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputRollNo">Roll No </label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Roll No" id="txtRollNo" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputRegistrationNo">Registration No </label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Regidtration No" id="txtRegistrationNo" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Student Info-->
                        <!--Begin Address-->
                        <div class="tab-pane fade" id="tabAddress">
                            <div class="well well-sm">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                Present Address
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputName">Name C/O</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Name C/O" id="txtNameCOPre" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputVillageTown">Village/Town</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Village/Town" id="txtVillageTownPre" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputPost">Post</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Post" id="txtPostPre" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDivision">Division</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlDivisionPre">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDistrict">District</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlDistrictPre">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputThana">Thana</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlThanaPre">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                Permanent Address
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputName">Name C/O</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Name C/O" id="txtNameCOPer" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputVillageTown">Village/Town</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Village/Town" id="txtVillageTownPer" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputPost">Post</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Post" id="txtPostPer" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDivision">Division</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlDivisionPer">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDistrict">District</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlDistrictPer">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputThana">Thana</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlThanaPer">
                                            <option value="0">Select One</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--End Address-->
                        <!--Begin Previous Education-->
                        <div class="tab-pane fade" id="tabPreviousEducation">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputLevelofEducation">Level of Education</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Level of Education" id="txtLevelofEducation" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputGroup">Concentration/Major/Group</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Concentration/Major/Group" id="txtGroup" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputInstitute">Institute Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Institute Name" id="txtInstitute" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputResult">Result</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Result" id="txtResult" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputPassingYear">Year of Passing</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Year of passing" id="txtYearofPassing" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDuration">Duration (Years)</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Duration" id="txtDuration" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputActivement">Activement</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" id="txtActivement" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Begin Previous Education-->
                        <!--Begin Photograph-->
                        <div class="tab-pane fade" id="tabPhotograph">
                            <div class="container kv-main">

                                <h4>Profile Photos</h4>
                                <form enctype="multipart/form-data">
                                    <label>Select Photo:</label>
                                    <input id="file" name="file-fr[]" type="file" multiple>
                                    <button id="btnDelete" type="button" class="btn btn-default">Delete</button>
                                </form>

                            </div>
                            <!--Begin Photograph-->
                        </div>
                    </div>
                </div>

                <ul class="list-group ">
                    <li class="list-group-item">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </li>
                </ul>



            </div>
        </div>
    </div>
</div>
