
@Scripts.Render("~/Scripts/EMS/Section/SectionSummary.js")

<div class="panel panel-default">
    <div class="panel-heading">Section Summary</div>
    <div class="panel-body">
        <div id="gridSection">

        </div>
    </div>
</div>
