

@Scripts.Render("~/Scripts/EMS/Grade/GradeSummary.js")

<div class="panel panel-default">
    <div class="panel-heading">Grade Summary</div>
    <div class="panel-body">
        <div id="gridGrade">

        </div>
    </div>
</div>


